services:
  db:
    image: 'postgres:15.7'
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=viva_development
      - TZ=America/Sao_Paulo # Get from .env file
      - PGTZ=America/Sao_Paulo # Get from .env file
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 3s
      timeout: 5s
      retries: 5
   web:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    command: npm run start:dev
    stdin_open: true
    tty: true
    volumes:
      - .:/home/node/app
      - /home/node/app/node_modules
    ports:
      - '8080:8080'
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    environment:
      - DB_USER=postgres
      - DB_HOST=db
      - DB_PORT=5432
      - DB_PASS=password
      - DB_NAME=viva_development
      - REDIS_HOST=redis
      - REDIS_PORT=6379

volumes:
  postgres: {}
