name: Code Check

on: [pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
            node-version: '22.20.0'
      
      - name: Install dependencies
        run: npm ci

      - name: Run eslint
        run: npm run lint

      - name: Run postgres
        run: docker compose -f docker-compose.test.yaml

      - name: Run migrations
        run: npx prisma migrate dev

      - name: Run tests
        env:
          DATABASE_URL: "postgresql://postgres:password@localhost:5432/via_test?schema=public"
        run: npm run test